#root {
	/* max-width: 2440px; */
	/* margin: 0 auto; */
	margin: 0px;
	/* padding: 2rem; */
	padding: 0px;
	text-align: center;
	width: 100%;
	/* background-color: white; */
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}


#input-form{
	display: flex;
	flex-direction: column;
}

#input-form-container {
	display: flex;
	flex-direction: column;
	border: 2px solid #007bff;
	padding: 10px;
	margin: 10px;
	width: 50%;
	/* background-color: #f9f9f9; */ /* some variant of white */
	/* background-color: black; */
	border-radius: 8px;
	font-family: 'Segoe UI', Arial, sans-serif;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2,h3,span {
	/* color: #007bff; */
	/* color: #000; */
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

 /* this is a div */
.form-item { 
	display: flex;
	flex-direction: row;
	justify-content : center;
	align-items: center;
}

.form-item-label {
	padding-right: 60px;
}

label {
	margin-bottom: 8px;
	font-weight: 600;
	/* color: #333; */
}

input, select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 14px;
	transition: border-color 0.3s ease;
	background-color: transparent;
	color: white;
}


input:focus, select:focus {
	border-color: #007bff;
	outline: none;
	color: white;
}

button {
	background-color: #007bff; /* some shade of bright blue */
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 20px;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3; /* some shade of dark blue */
}

select {
	background-color: #242424;
}

#container-for-views {
	/* height: 960px; */
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 760px; */
	/* width: 100%; */
	width: 100%;
	/* width: 900px; */
	/* background-color: white; */ /*TODO: this field can change the whole page's background color if you need quick changes to experiment with dif backgrounds*/
}

#first-view-container {
	/* height: 960px; */
	display:flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	/* height: 760px; */
	/* width: 100%; */
	width: 50%;
	/* width: 900px; */
	/* background-color: white; */
}

#second-view-container {
	height: 960px;
	display:flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	justify-content: start;
	align-items: center;
	/* height: 760px; */
	/* width: 100%; */
	width: 50%;
	/* width: 900px; */
	/* background-color: white; */
	color: white;
}
